<div class="row row-cols-1 row-cols-md-5 g-3 mt-5">
  <div class="col d-flex justify-content-center" th:each="listaProveedor:${listaProveedor}">
    <div class="card d-flex align-items-center p-2" style="width: 18rem;">
      <img  th:if="${listaProveedor.imagen != null}" class="logo" th:src="@{/imagen/perfil/__${listaProveedor.id}__}" style="max-width: 150px; max-height: 150px;">
      <div class="card-body text-center">
        <h4 class="card-title fw-bold fs-2" th:text="${listaProveedor.nombre}">Card title</h4>        
        <p class="card-text">This is a longer card with supporting text below as a</p>
        <p class="card-text fw-bold fs-4">$2000</p>
        <a class="btn btn-primary" th:href="@{/trabajo/persistirTrabajo/__${listaProveedor.id}__}">Contratar</a>
      </div>
    </div>
  </div>
</div>